In [1]:
import joblib 
import pandas as pd 
import numpy as np
model = joblib.load("random_forrest_model.joblib")

In [2]:


file_path = r"C:\Users\user\Downloads\DataSet_31082019\DataSet_31082019\bashdebstretche_execute_cmd.c"
with open(file_path, 'r',encoding='utf-8') as f:
    lines = f.readlines()

line_number = [i+1 for i in range(len(lines))]

In [3]:
df = pd.DataFrame({"code": lines ,"line_number":line_number})

In [4]:
df['code'] = df['code'].str.strip()
df['code'].replace('', np.nan, inplace=True)
df.dropna(inplace=True)

In [7]:
mask = model.predict(df['code'])
print(mask)
mask = mask.astype(bool)
df_filtered = df[mask]
df_filtered

[0 0 0 ... 0 0 0]

                                            code  line_number
1248                  strcpy (str + sindex, ts);         1249
1279                  strcpy (str + sindex, ts);         1280
2211   sprintf (namevar, "%s_READ", cp->c_name);         2212
2215  sprintf (namevar, "%s_WRITE", cp->c_name);         2216
2221    sprintf (namevar, "%s_PID", cp->c_name);         2222
2242    sprintf (namevar, "%s_PID", cp->c_name);         2243
2248   sprintf (namevar, "%s_READ", cp->c_name);         2249
2250  sprintf (namevar, "%s_WRITE", cp->c_name);         2251
2356                               COMMAND *cmd;         2357
2368                              cmd = command;         2369

In [6]:
mask

array([False, False, False, ..., False, False, False])